:root {
  --default-font-family: "Poppins", sans-serif;
  --primary-color: #181525;
  --secondary-color: #272435;
}

body {
  font-family: var(--default-font-family);
  margin: 0 auto;
  background: var(--primary-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-columns {
  grid-template-columns: auto auto;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
  grid-gap: 80px;
}

.grid-3-columns {
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
}

header h1 {
  font-weight: 600;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  margin: 0;
  line-height: 1.5;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
}

header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 16px 32px;
  background: white;
  display: inline-block;
  margin-top: 32px;
  border-radius: 4px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url(../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 70px;
}

main {
  background: black;
}

.img-responsive {
  width: 100%;
  display: block;
}

.temple img {
  filter: contrast(120%);
}

main h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: white;
  margin: 0;
}

main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  opacity: 0.5;
  text-align: justify;
}

main h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  color: white;
  opacity: 0.3;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  color: white;
  margin: 0;
}

main h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  color: white;
  margin: 0;
}

section.secondary {
  background: var(--primary-color);
  border: 4px solid black;
}

.text-center {
  text-align: center;
}

.card {
  background: var(--secondary-color);
  margin: 50px 0;
  text-align: justify;
}

.card-header.grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card-body {
  padding: 32px;
}

.btn {
  display: block;
  padding: 16px 32px;
  margin-top: 48px;
  background: #462cb3;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.instagram-embeds {
  margin: 30px 0;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.8),
      rgba(39, 32, 68, 0.7)
    ),
    url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.7;
  text-align: justify;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 992px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  footer section {
    text-align: center;
  }

  footer section p {
    text-align: center;
  }

  footer .grid {
    grid-gap: 18px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16 / 9;
  }

  .card {
    margin: 20px 0;
  }

  .beaches {
    margin-bottom: 20px;
  }

  .instagram-embeds {
    display: flex;
    justify-content: center;
  }

  .temple img {
    margin: 20px 0 0 0;
  }
}
